body,html{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #575758, #141414);
}
.head h1,h2{
    text-align: center;
}
.out{
    float: right;
}
.btn-info:hover{
    transform: scale(1.02);
}
.form-group,a{
    text-align: center;
}
.form-group:hover{
        background-color: #ddd;
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 4px 30px rgba(84, 245, 138, 0.8);
}
